* {
	margin: 0;
}

html, body {
	height: 100%;
	font-family: Arial, sans-serif;
}

.wrap {
	min-height: 100%;
	margin-bottom: -16px; 
}

.wrap:after {
	content: "";
	display: block;
}

.topdiv {
	height: 26px; 
	background-color: #339966; 
	font-size: 16px;
	text-align: center; 
	display: table;
	width: 100%;
	color: #ffffff; 
	font-weight: bold;
	font-family: serif;
	position: relative;
	border-bottom: #990000 5px solid;
}

.topdiv a {
	color: white;
}

.topdiv span {
	vertical-align: middle;
	display: table-cell;
}

.footer, .wrap:after {
	height: 16px; 
}

.footer {
	display: table;
	background: #006699;
	width: 100%;
	text-align: center;
	font-size: 14px;
}

.footer span {
	vertical-align: middle;
	display: table-cell;
}

.footer span, .footer span a {
	color: #FFF;
}

select, input {
	margin: 0 10px 0 0;
}