<link rel="stylesheet" type="text/css" href="/{$home}/css/style.css" />
<script type="text/javascript" src="//tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/{$home}/js/jquery.tablesorter.pager.js"></script>
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() 
    { 
         $("#table").tablesorter(); 
    } 
); 
//]]>
</script>
